useCase.vsdx

addNewAdvertisement.vsdx
advertEditing.vsdx
deleteAccount.vsdx
deleteAdvert.vsdx
edtiAccount.vsdx
entrance.vsdx
registration.vsdx
search.vsdx
seeMore.vsdx
useCase.vsdx
registrationAndEntranceSQ.vsdx
editAndDeleteAdvertSQ.vsdx
addAdvertSQ.vsdx
classDiagram.vsdx
statement.vsdx